@{
    ViewBag.Title = "Rate your Hotel";
    string hotelName = "Hotel " + ViewBag.Hotel.Name;
}

<h2>@ViewBag.Message</h2>

@Html.ActionLink(hotelName, "SelectHotel", new { hotelId = ViewBag.Hotel.Id })
