@{
    ViewBag.Title = "Rate your Hotel";
}

<h2>@ViewBag.Message</h2>

@foreach (var hotel in ViewBag.Hotels)
{
    string hotelName = hotel.Name;
    <div>@Html.ActionLink(hotelName, "SelectHotel", new {hotelId = hotel.Id})</div>
}