@{
    ViewBag.Title = "Rate your Hotel";
}

<h2>@ViewBag.Message</h2>

<img src="~/Content/biscuits/1ChocolateDigestive.jpg" width ="200" height ="200" />
<img src="~/Content/biscuits/2Cookie.jpg" width ="200" height ="200"/>
<img src="~/Content/biscuits/3JammyBiscuit.jpg" width ="200" height ="200" />
<img src="~/Content/biscuits/4Shortbread.jpg" width ="200" height ="200"/>
<img src="~/Content/biscuits/5Bourbon.jpg" width ="200" height ="200"/>
<img src="~/Content/biscuits/6FigRoll.jpg" width ="200" height ="200" />
<img src="~/Content/biscuits/7PinkWafer.jpg" width ="200" height ="200"/>

@Html.ActionLink("3 Biscuits", "RateHotel")